* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f8;
}

h1{
  padding-bottom: 1rem;
}

/* Main container */
.todo {
  width: 350px;
  margin: 8rem auto;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Input section */
.input {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.userInput {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.userInput:focus {
  border-color: #007bff;
}

/* Add button */
.addBtn {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.addBtn:hover {
  background: #0056b3;
}

/* List section */
.list ul {
  list-style: none;
}
.list li {
  padding: 10px;
  margin-bottom: 8px;
  background: #f1f1f1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 100%;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.todoText {
  max-width: 50%;
  word-break: break-word;
}


/* Edit button */
.editBtn {
  padding: 5px 10px;
  font-size: 12px;
  background: #ffc107;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.editBtn:hover {
  background: #e0a800;
}

/* Remove button */
.removeBtn {
  padding: 5px 10px;
  font-size: 12px;
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.removeBtn:hover {
  background: #b52a37;
}
